/* =============================
 * Common
 * ============================= */
* {
    box-sizing: border-box;
}

body, h1, h2, h2, h4, h5, ul, li, div, p {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/18px "微軟正黑體", 'Microsoft Jhenghei', ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
    line-height: 22px;
    padding-top: 170px;
    background: #fff;
}

p {
    margin-bottom: 26px;
}

a {
    text-decoration: none;
}

article {
    width: 800px;
    margin: 0 auto;
}

article p {
    line-height: 26px;
}

hr {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    border-top: 1px solid #ccc;
}

/* =============================
 * Heading
 * ============================= */

h1 {
    font-family: consolas;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

h1 .code {
    color: #ddd;
}

h2 {
    font-size: 26px;
}

h3 {
    padding-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
}

/* =============================
 * Navigation
 * ============================= */

nav {
    position: fixed;
    z-index: 400;
    top: 0;
    width: 100%;
    background: #fff;
    height: 170px;
    padding-top: 8px;
    opacity: 0.9;
}

nav img {
    height: 100px;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: block;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

nav a {
    color: #000;
    font-weight: bold;
    padding-bottom: 6px;
}

nav a:hover {
    border-bottom: 3px solid #000;
}

/* =============================
 * Section Block
 * ============================= */

section {
    position: relative;
    padding-top: 180px;
    padding-bottom: 30px;
    min-height: 800px;
}

section:nth-child(odd) {
    background: #EEF5FF;
}

/* =============================
 * Banner
 * ============================= */

#banner {
    padding-top: 80px;
    text-align: center;
    background-image: url(../images/background_7167.jpg);
    background-position: bottom;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/* =============================
 * Sign Up
 * ============================= */

#signup {

}

#signup p {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
}

#signup .date {
    display: block;
}

/* =============================
 * Prospect
 * ============================= */

#prospect {
    color: #fff;
    background-image: url(../images/background_7185.jpg);
    background-position: center;
    background-size: cover;
}

#prospect .post {
    padding-bottom: 10px;
}

/* =============================
 * Announce
 * ============================= */

#announce h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#announce article {
    width: 600px;
}
#announce a {
    color: #000;
}

#announce a:hover {
    border-bottom: 1px solid #000;
    padding-bottom: -1px;
}

#announce .highlight {
    font-size: 26px;
}

#announce .highlight p {
    line-height: 30px;
}

#announce .post span {
    position: absolute;
    margin-left: -100px;
}

/* =============================
 * Schedule
 * ============================= */

#schedule {
    padding-bottom: 100px;
}

#schedule article {
    color: #000;
}

#schedule table {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}

#schedule thead {
    border: 0;
}

#schedule tbody tr:nth-child(odd) td, #schedule tbody tr:nth-child(odd) th {
    background-color: #EEF5FF;
}

#schedule table th, #schedule table td {
    padding: 8px;
    line-height: 22px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

#schedule table th {
    border-top: 0;
    text-align: center;
}

#schedule .time {
    text-align: center;
}

#schedule .notice {
    margin-top: 30px;
    text-align: center;
}

/* =============================
 * Speakers
 * ============================= */

#speakers {
    display: none;
}

#speakers h4 {
    margin-bottom: 20px;
}

#speakers .speaker {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
}

#speakers .speaker-info {
    margin-left: 190px;
}

#speakers .speaker-info h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

#speakers .speaker-info h5 {
    color: #666;
}

#speakers .speaker-info p {
    line-height: 22px
}

#speakers .speaker-links {
    margin-top: 20px;
}

#speakers .avatar {
    width: 140px;
    float: left;
}

#speakers .avatar-image {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* =============================
 * Venue
 * ============================= */

#venue {
}

#venue h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

#venue h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

#venue .venue-info {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#venue .venue-info h4 {
    margin-bottom: 30px;
}

#venue .venue-text {
    float: left;
    width: 380px;
    margin-right: 20px;
    text-align: left;
}

/* =============================
 * Sponsor
 * ============================= */

#sponsors {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

/* =============================
 * About
 * ============================= */

#about {
}

#about .about-info {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

#about .about-info img {
    display: inline-block;
}

#about .about-info ul {
    list-style: none;
    text-align: left;
    margin: 0 auto;
}

#about .about-info li {
    height: 50px;
}

#about .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 20px;
}

#about .facebook-icon {
    background: url(https://www.facebook.com/images/fb_icon_325x325.png);
    background-size: cover;
}

/* =============================
 * Go Top
 * ============================= */

#gotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* =============================
 * Footer
 * ============================= */

footer {
    height: 100px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    background: #383838;
}

footer a,
footer a:visited {
    color: #fff;
}
