/* =============================
 * Common
 * ============================= */
* {
    box-sizing: border-box;
}

body, h1, h2, h2, h4, h5, ul, li, div, p {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/18px "微軟正黑體", 'Microsoft Jhenghei', ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
    line-height: 22px;
    padding-top: 170px;
    background: #fff;
}

p {
    margin-bottom: 26px;
}

a {
    text-decoration: none;
}

article {
    width: 800px;
    margin: 0 auto;
}

article p {
    line-height: 26px;
}

hr {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    border-top: 1px solid #ccc;
}

/* =============================
 * Heading
 * ============================= */

h1 {
    font-family: consolas;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

h1 .code {
    color: #ddd;
}

h2 {
    font-size: 26px;
}

h3 {
    padding-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
}

/* =============================
 * Navigation
 * ============================= */

nav {
    position: fixed;
    z-index: 400;
    top: 0;
    width: 100%;
    background: #fff;
    height: 170px;
    padding-top: 8px;
    opacity: 0.9;
}

nav img {
    height: 100px;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: block;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

nav a {
    color: #000;
    font-weight: bold;
    padding-bottom: 6px;
}

nav a:hover {
    border-bottom: 3px solid #000;
}

/* =============================
 * Section Block
 * ============================= */

section {
    position: relative;
    padding-top: 150px;
    padding-bottom: 30px;
    min-height: 700px;
}

section:nth-child(odd) {
    background: #EEF5FF;
}

/* =============================
 * Banner
 * ============================= */

#banner {
    padding-top: 80px;
    text-align: center;
    background-image: url(../images/background_7167.jpg);
    background-position: bottom;
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

/* =============================
 * Sign Up
 * ============================= */

#signup {

}

#signup p {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
}

#signup .date {
    display: block;
}

#signup a.register {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  color: #FFF;
  border-radius: 4px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: none repeat scroll 0% 0% #42B8DD;
  padding: 0.5em 1em;
  border: 0px none transparent;
  text-decoration: none;
}

/* =============================
 * Prospect
 * ============================= */

#prospect {
    color: #fff;
    background-image: url(../images/background_7185.jpg);
    background-position: center;
    background-size: cover;
}

#prospect .post {
    padding-bottom: 10px;
}

/* =============================
 * Announce
 * ============================= */

#announce h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#announce article {
    width: 600px;
}
#announce a {
    color: #000;
}

#announce a:hover {
    border-bottom: 1px solid #000;
    padding-bottom: -1px;
}

#announce .highlight {
    font-size: 26px;
}

#announce .highlight p {
    line-height: 30px;
}

#announce .post span {
    position: absolute;
    margin-left: -100px;
}

/* =============================
 * Schedule
 * ============================= */

#schedule {
    padding-bottom: 100px;
}

#schedule article {
    color: #000;
}

#schedule table {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}

#schedule thead {
    border: 0;
}

#schedule tbody tr:nth-child(odd) td, #schedule tbody tr:nth-child(odd) th {
    background-color: #EEF5FF;
}

#schedule table th, #schedule table td {
    padding: 8px;
    line-height: 22px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

#schedule table th {
    border-top: 0;
    text-align: center;
}

#schedule .time {
    text-align: center;
}

#schedule .notice {
    margin-top: 30px;
    text-align: center;
}

/* =============================
 * Speakers
 * ============================= */

#speakers {
}

#speakers h4 {
    margin-bottom: 20px;
}

#speakers h5 {
    margin-bottom: 20px;
}

#speakers .speaker {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
}

#speakers .speaker-info {
    margin-left: 150px;
}

#speakers .speaker-info h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

#speakers .speaker-info h5 {
    color: #666;
}

#speakers .speaker-info p {
    line-height: 22px
}

#speakers .speaker-links {
    margin-top: 20px;
    display: none;
}

#speakers .avatar {
    width: 120px;
    height: 120px;
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

#speakers .avatar-image {
    width: 100%;
    height: 100%;
}

/* =============================
 * Venue
 * ============================= */

#venue {
}

#venue h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

#venue h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

#venue .venue-info {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#venue .venue-info h4 {
    margin-bottom: 30px;
}

#venue .venue-text {
    float: left;
    width: 380px;
    margin-right: 20px;
    text-align: left;
}

#venue .venue-text p {
    margin-bottom: 2px;
}

#venue .venue-text p.address {
    margin-top: -10px;
    margin-bottom: 10px;
}

/* =============================
 * Sponsor
 * ============================= */

#sponsors {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

#sponsors h4 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #666;
}

#sponsors .sponsor {
    text-align: center;
    margin-bottom: 60px;
}

#sponsors .sponsor img {
    margin-right: 20px;
}

/* =============================
 * About
 * ============================= */

#about .about-info {
    width: 800px;
    margin: 0 auto;
    text-align: center;
	margin-bottom: 100px;
}

#about .about-info img {
    display: inline-block;
}

#about .about-info ul {
    width: 320px;
    list-style: none;
    text-align: left;
    margin: 0 auto;
}

#about .about-info li {
    height: 50px;
}

#about .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 20px;
}

#about .facebook-icon {
    background: url(https://www.facebook.com/images/fb_icon_325x325.png);
    background-size: cover;
}

#about .about-staff {
	width: 800px;
	margin: 0 auto;
}

#about .staff {
	text-align: center;
	float: left;
	width: 200px;
	margin-bottom: 30px;
}

#about .staff p {
	margin-bottom: 10px;
}

#about .staff h4 {
	font-size: 16px;
	margin-bottom: 20px;
}

#about .staff strong {
	color: #aaa;
}

#about .staff ul {
	list-style: none;
	margin-bottom: 15px;
}

#about .about-header {
	width: 100%;
	position: relative;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 30px;
}

#about .about-header:before {
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.15);
}

#about .about-header span {
	background: #EEF5FF;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.44);
	text-transform: uppercase;
	font-size: 14px;
	padding: 3px 8px 2px 12px;
	letter-spacing: .3em;
	color: rgba(0,0,0,0.6);
	position: relative;
}

/* =============================
 * Go Top
 * ============================= */

#gotop {
  background-image: url("../images/go_top.png");
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-size: 50px;
}

/* =============================
 * Footer
 * ============================= */

footer {
    height: 100px;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    background: #383838;
}

footer a,
footer a:visited {
    color: #fff;
}
